* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background: url("./images/bg-pattern.png"),
    -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
}
.phone-image img {
  height: 30rem;
}
.phone-image > img.screen-content {
  height: 76%;
  top: 3.5rem;
  left: 7.2rem;
}
.jumbotron {
  text-align: center;
  background: none;
}
#navbar-newage {
  background: none;
  color: white;
  width: 80%;
}

.phone-image:last-child > img.screen-content {
  left: 22.7%;
}
i.description-icon {
  color: rgb(136, 70, 81);
}
#navbar-newage .navbar-brand {
  color: yellow;
}
#navbar-newage .nav-item .nav-link {
  color: white;
}
.btn-default {
  border-radius: 2rem !important;
}
.phone-sprite {
  background: url("sprite.png") no-repeat top left;
}
.phone-sprite.phone {
  background-position: 0 0;
  width: 1248px;
  height: 2518px;
}
.phone-sprite.screen {
  background-position: -1258px 0;
  width: 621px;
  height: 1104px;
}

.connect-sprite {
  background: url("connect.png") no-repeat top left;
  width: 128px;
  height: 128px;
}
.connect-sprite.twitter {
  background-position: 0 0;
}
.connect-sprite.facebook {
  background-position: -138px 0;
}
.connect-sprite.gplus {
  background-position: -276px 0;
}
